:where(.wrap) {
	width: 380px;
}

.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-self: center;
	gap: var(--indent-8, 8px);
	position: relative;
}

.inp {
	display: flex;
	height: var(--height-control-middle, 56px);
	padding: 0px var(--padding-m, 16px);
	justify-content: center;
	align-items: center;
	gap: var(--indent-8, 8px);
	align-self: stretch;
	border-radius: var(--rounding-default, 20px);
	border: var(--stroke-border, 1px) solid var(--Border-Default, #AEBCD3);
	background: var(--input-bg, #F3F3F1);
	transition: 0.2s border-color;
	overflow: hidden;


	&[data-err=true] {
		border: var(--stroke-border, 1px) solid var(--input-stroke-error, #F00);
	}

	&__wrap {
		// width: 100%;
		flex: 1;
		position: relative;
	}

	&:hover {
		border: var(--stroke-border, 1px) solid var(--input-stroke-hover, #1A2542);
	}


	&:has(input:not(:placeholder-shown):invalid) {
		border: var(--stroke-border, 1px) solid var(--input-stroke-error, #F00);
	}

	&:has(input:focus) {

		border: var(--stroke-border, 1px) solid var(--input-stroke-focus, #0079FF);

		input::placeholder {
			opacity: 0;
			translate: 100%;
		}
	}



	&__icon {
		font-size: 1.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--input-icon, #8692A1);
	}


	input {
		display: block;
		width: 100%;
		height: 100%;
		background-color: transparent;

		&::placeholder {
			transition: all 0.3s ease;
			color: var(--input-placeholder, #8692A1);
			opacity: 1;
			font-weight: var(--Body-weight_regular, 300);
		}

	}

	input[type="password"]:not(:placeholder-shown) {
		user-select: none;
		font-size: 1.3em;
		letter-spacing: -0.1em;
	}



	input[type="password"]::-webkit-reveal,
	input[type="password"]::-webkit-caps-lock-indicator,
	input[type="password"]::-webkit-credentials-auto-fill-button,
	input[type="password"]::-ms-reveal,
	input[type="password"]::-ms-clear {
		display: none !important;
		visibility: hidden !important;
		opacity: 0 !important;
		width: 0 !important;
		height: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
		pointer-events: none !important;
	}

	input[type="search"]::-webkit-search-cancel-button {
		-webkit-appearance: none;
		appearance: none;
	}

}

.head {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 1em;
}

.label {
	flex: 1;
	color: var(--input-lable);
	font-family: var(--Headline-family, Inter);
	font-size: var(--Headline-size3, 16px);
	font-style: normal;
	font-weight: var(--Headline-weight_medium, 500);
	line-height: 100%;
	letter-spacing: -0.32px;
	white-space: nowrap;
	// @include line-clamp(1);

}

// .label {
// 	text-align: right;
// 	justify-self: end;
// 	flex: 1;
// 	// @include line-clamp(1);
// }

.foot {
	height: 1em;
	position: relative;
	font-family: var(--Description-family, Inter);
	font-size: var(--Description-size1, 14px);
	font-style: normal;
	font-weight: var(--Description-weight, 400);
	line-height: 120%;
	letter-spacing: -0.14px;
	width: 100%;
}

.message {
	transition: opacity 0.2s;
	position: absolute;
	bottom: 0;
	left: 0;
	color: var(--input-helper_text, #575E76);
	// @include line-clamp(1);
}

.err {
	// opacity: 0;
	transition: opacity 0.2s;
	bottom: 0;
	left: 0;
	position: absolute;
	color: var(--input-helper_text_error, #FA4845);
	// @include line-clamp(1);
}

.password {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	user-select: none;
}


.hint {
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 100%;
	translate: 0 100%;
	z-index: 10;
	display: flex;
	padding: var(--padding-m, 16px);
	flex-direction: column;
	align-items: flex-start;
	gap: var(--indent-32, 32px);
	align-self: stretch;
	border-radius: var(--rounding-default, 20px);
	border: var(--stroke-border, 1px) solid var(--Border-Default, #AEBCD3);
	background: var(--Background-Default-Secondary, #FFF);
	box-shadow: -2px 4px 20px 0 rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	gap: var(--indent-32, 32px);
	user-select: none;


	transition: opacity 0.3s;
	opacity: 0;
	pointer-events: none;
	user-select: none;

	// opacity: 1;


	&[data-visible=true] {
		opacity: 1;
		pointer-events: auto;
	}


	&__desc {
		color: var(--Text_and_Icon-Default-Secondary, #575E76);
		font-family: var(--Description-family, Inter);
		font-size: var(--Description-size1, 14px);
		font-style: normal;
		font-weight: var(--Description-weight, 300);
		line-height: 120%;
		letter-spacing: -0.14px;
		margin-bottom: var(--indent-12, 12px);
		;
	}

	.list {
		display: flex;
		align-items: flex-start;
		align-content: flex-start;
		gap: 8px var(--indent-8, 8px);
		align-self: stretch;
		flex-wrap: wrap;
	}




	.tag {
		color: var(--Text_and_Icon-Default-Brand, #01182D);
		text-align: center;
		font-family: var(--Description-family, Inter);
		font-size: var(--Description-size1, 14px);
		font-style: normal;
		font-weight: var(--Description-weight, 300);
		line-height: 100%;
		letter-spacing: -0.14px;
		cursor: pointer;

		display: flex;
		padding: var(--padding-sm, 12px);
		justify-content: center;
		align-items: center;
		gap: var(--indent-6, 6px);

		border-radius: var(--rounding-small, 12px);
		background: var(--Background-Default-Default, #F3F3F1);
	}

	.advice {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 4px;

		&__item {
			display: block;
			color: var(--Text_and_Icon-Default-Brand, #01182D);
			font-family: var(--Headline-family, Inter);
			font-size: var(--Headline-size3, 16px);
			font-weight: var(--Headline-weight_medium, 400);
			letter-spacing: -0.32px;
			padding: 12px;
			width: 100%;
			border-radius: var(--rounding-small, 12px);
			background: var(--Background-Default-Secondary, #FFF);
			transition: background-color 0.2s;
			cursor: pointer;

			&:hover {
				background: var(--Background-Bright-Forth, #EFF3F7);
			}
		}
	}

}


.forgot {
	color: var(--button-main-subtle-text-default, #0079FF);
	font-family: var(--Headline-family, Inter);
	font-size: var(--Headline-size3, 16px);
	font-style: normal;
	font-weight: var(--Headline-weight_medium, 400);
	line-height: 100%;
	letter-spacing: -0.32px;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-underline-position: from-font;
}