.wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	&[data-desktop=false] {
		flex-direction: column;
		align-items: center;
		gap: 20px;

		* {
			text-align: center;
			width: 100%;
		}

		.titles {
			gap: 5px;
		}

	}
}

.title {
	font-family: var(--Title-family, "Space Grotesk");
}

.titles {
	display: flex;
	flex-direction: column;
	gap: 20px;
}


.info {


	&__desc {
		overflow: hidden;
		color: var(--Text_and_Icon-Default-Secondary, #575E76);
		text-overflow: ellipsis;

		/* H5 */
		font-family: var(--Headline-family, Inter);
		font-size: var(--Headline-size3, 16px);
		font-style: normal;
		font-weight: var(--Headline-weight_medium, 400);
		line-height: 100%;
		/* 16px */
		letter-spacing: -0.16px;
	}

	&__text {
		overflow: hidden;
		color: var(--Text_and_Icon-Default-Brand, #01182D);
		text-overflow: ellipsis;

		/* H3 120 */
		font-family: var(--Headline-family, Inter);
		font-size: var(--Headline-size1, 24px);
		font-style: normal;
		font-weight: var(--Headline-weight_medium, 400);
		line-height: 120%;
		/* 28.8px */
		letter-spacing: -0.48px;
	}

}