:where(.text) {
	color: var(--sds-color-text-default-default);
	font-family: var(--Description-family, Inter);
	align-self: start;
	justify-self: start;
	font-style: normal;
	font-weight: var(--Body-weight_regular, 300);
	line-height: 120%;

	&[data-var=body] {
		font-size: var(--Body-size1, 20px);
		letter-spacing: -0.4px;
	}

	&[data-var=body-2] {
		font-size: var(--Body-size2, 16px);
		letter-spacing: -0.32px;
	}

	&[data-var=desc] {
		font-size: var(--Description-size1, 14px);
		letter-spacing: -0.14px;
	}

	&[data-var=desc-2] {
		font-size: var(--Description-size2, 12px);
		letter-spacing: -0.12px;
	}

	&[data-var=label] {
		font-size: var(--Headline-size2, 20px);
		font-weight: var(--Headline-weight_medium, 400);
		line-height: 100%;
		letter-spacing: -0.4px;
	}

	&[data-var=label-2] {
		font-size: var(--Headline-size3, 16px);
		font-weight: var(--Headline-weight_medium, 400);
		line-height: 100%;
		letter-spacing: -0.32px;
	}

}

.text {
	display: -webkit-box;
	-webkit-line-clamp: var(--lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}