.wrap {
	display: grid;
	grid-template-columns: 1fr 460px;
	grid-template-rows: auto auto;
	gap: var(--indent-48, 48px);
	padding: var(--padding-page, 64px) 0;
}


.top {
	grid-row: span 2;


	&__pin {
		display: flex;
		flex-direction: column;
		gap: 10px;
		position: sticky;
		top: 100px;
	}
}

.search {
	display: flex;
	flex-direction: column;
	gap: 40px;

	&__head {
		display: grid;
		grid-template-columns: auto 1fr auto;
		gap: 20px;
		align-items: center;
	}

	&__foot {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__inp {}

	&__title {}


	&__select {}

}

.cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}