@font-face {
	font-family: 'Inter';
	src: url('../../public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('../../public/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
}


:where(*) {
	font-family: 'Inter';
}