:root {
	/* components*/
	--main-card-first-number: var(--text_and_icon-inverse-default);
	--main-card-first-title: var(--text_and_icon-inverse-default);
	--main-card-first-bg: var(--background-dark-default);
	--main-card-first-description: var(--text_and_icon-inverse-secondary);
	--button-main-primary-fill-default: var(--background-dark-default);
	--button-main-primary-fill-hover: var(--background-dark-hover);
	--button-main-primary-fill-active: var(--background-dark-default);
	--button-main-primary-fill-default-2: var(--background-dark-default);
	--button-main-primary-fill-disable: var(--background-disabled-default);
	--button-main-primary-text-default: var(--text_and_icon-inverse-default);
	--button-main-primary-text-disable: var(--text_and_icon-disabled-on_disabled);
	--button-main-primary-stroke-active: var(--border-bright);
	--button-main-secondary-fill-default: var(--background-default-secondary);
	--button-main-secondary-fill-hover: var(--background-default-secondary_hover);
	--button-main-secondary-fill-active: var(--background-default-secondary);
	--button-main-secondary-fill-disable: var(--background-disabled-default);
	--button-main-secondary-text-default: var(--text_and_icon-default-default);
	--button-main-secondary-text-disable: var(--text_and_icon-disabled-on_disabled);
	--button-main-secondary-stroke-active: var(--border-bright);
	--button-main-secondary-stroke-default: var(--border-secondary);
	--button-main-subtle-text-default: var(--text_and_icon-bright-default);
	--button-main-subtle-text-hover: var(--text_and_icon-bright-secondary);
	--button-main-subtle-text-active: var(--text_and_icon-bright-default);
	--button-main-subtle-text-disable: var(--text_and_icon-disabled-default);
	--button-danger-primary-fill-default: var(--background-danger-default);
	--button-danger-primary-fill-hover: var(--background-danger-hover);
	--button-danger-primary-fill-active: var(--background-danger-default);
	--button-danger-primary-fill-disable: var(--background-disabled-default);
	--button-danger-primary-text-default: var(--text_and_icon-danger-on_danger);
	--button-danger-primary-text-disable: var(--text_and_icon-disabled-on_disabled);
	--button-danger-primary-stroke-active: var(--border-danger);
	--button-danger-secondary-fill-default: var(--background-default-secondary);
	--button-danger-secondary-fill-hover: var(--background-danger-tertiary);
	--button-danger-secondary-fill-active: var(--background-danger-tertiary_hover);
	--button-danger-secondary-fill-disable: var(--background-disabled-default);
	--button-danger-secondary-text-default: var(--text_and_icon-danger-default);
	--button-danger-secondary-stroke-default: var(--border-danger_secondary);
	--button-danger-secondary-text-disable: var(--text_and_icon-disabled-on_disabled);
	--button-danger-secondary-stroke-hover: var(--border-danger_hover);
	--button-danger-secondary-stroke-active: var(--border-danger_secondary);
	--button-danger-subtle-text-default: var(--text_and_icon-danger-default);
	--button-danger-subtle-text-hover: var(--text_and_icon-danger-secondary);
	--button-danger-subtle-text-active: var(--text_and_icon-danger-default);
	--button-danger-subtle-text-disable: var(--text_and_icon-disabled-default);
	--button-main-accent-fill-default: var(--background-bright-default);
	--button-main-accent-fill-hover: var(--background-bright-hover);
	--button-main-accent-fill-active: var(--background-bright-default);
	--button-main-accent-fill-disable: var(--background-disabled-default);
	--button-main-accent-text-default: var(--text_and_icon-bright-on_bright);
	--button-main-accent-text-disable: var(--text_and_icon-disabled-on_disabled);
	--button-main-accent-stroke-active: var(--border-bright_secondary);
	--main-card-second-number: var(--text_and_icon-bright-on_bright);
	--main-card-second-title: var(--text_and_icon-bright-on_bright);
	--main-card-second-bg: var(--background-bright-default);
	--main-card-second-description: var(--text_and_icon-bright-on_bright_secondary);
	--input-lable: var(--text_and_icon-default-default);
	--input-bg: var(--background-default-default);
	--input-entered_text: var(--text_and_icon-default-default);
	--input-entered_text_error: var(--text_and_icon-danger-default);
	--input-icon: var(--text_and_icon-default-tertiary);
	--input-helper_text: var(--text_and_icon-default-secondary);
	--input-helper_text_error: var(--text_and_icon-danger-default);
	--input-placeholder: var(--text_and_icon-default-tertiary);
	--input-placeholder_error: var(--text_and_icon-danger-forth);
	--input-stroke-default: var(--border-default);
	--input-stroke-hover: var(--border-dark);
	--input-stroke-focus: var(--border-bright);
	--input-stroke-error: var(--border-danger);
	--control_icon-primary: var(--text_and_icon-default-brand);
	--control_icon-secondary: var(--text_and_icon-default-tertiary);
	--control_icon-tertiary: var(--text_and_icon-inverse-secondary);
	--control_icon-hover: var(--text_and_icon-bright-default);
	--control_icon-active: var(--text_and_icon-bright-secondary);
	--control_icon-disable: var(--text_and_icon-disabled-default);
	--header_button-default: var(--text_and_icon-default-brand);
	--header_button-hover: var(--text_and_icon-bright-tertiary);
	--header_button-active: var(--text_and_icon-bright-default);
	--braedcrumbs-default: var(--text_and_icon-default-forth);
	--braedcrumbs-hover: var(--text_and_icon-bright-default);
	--braedcrumbs-current: var(--text_and_icon-bright-default);
	--follow-default-bg: var(--button-main-primary-fill-default);
	--follow-default-bg_hover: var(--button-main-primary-fill-hover);
	--follow-default-text: var(--button-main-primary-text-default);
	--follow-default-icon: var(--text_and_icon-inverse-secondary);
	--follow-pressed-bg: var(--button-main-secondary-fill-default);
	--follow-pressed-bg_hover: var(--button-main-secondary-fill-hover);
	--follow-pressed-stroke_hover: var(--border-default);
	--follow-pressed-text: var(--button-main-secondary-text-default);
	--follow-pressed-icon: var(--text_and_icon-danger-tertiary);
	--rate-like-default: var(--text_and_icon-positive-default);
	--rate-like-hover: var(--text_and_icon-positive-secondary);
	--rate-dislike-default: var(--text_and_icon-danger-default);
	--rate-dislike-hover: var(--text_and_icon-danger-tertiary);
	--top_company_card-default-bg: var(--background-default-secondary);
	--top_company_card-default-headline: var(--text_and_icon-default-default);
	--top_company_card-hover-bg: var(--background-default-secondary);
	--top_company_card-hover-stroke: var(--border-bright);
	--top_company_card-hover-headline: var(--text_and_icon-bright-default);
	--top_company_card-active-bg: var(--background-default-secondary_hover);
	--top_company_card-active-stroke: var(--border-bright);
	--top_company_card-active-headline: var(--text_and_icon-bright-default);
	--checkbox-icon: var(--text_and_icon-bright-on_bright);
	--checkbox-icon_disable: var(--text_and_icon-disabled-on_disabled);
	--checkbox-selected-bg: var(--background-bright-default);
	--checkbox-selected-bg_hover: var(--background-bright-hover);
	--checkbox-selected-bg_disable: var(--background-disabled-default);
	--checkbox-not_selected-bg: var(--background-default-secondary);
	--checkbox-not_selected-bg_hover: var(--background-default-secondary_hover);
	--checkbox-not_selected-bg_disable: var(--background-default-secondary);
	--checkbox-not_selected-stroke: var(--border-default);
	--checkbox-not_selected-stroke_hover: var(--border-bright);
	--checkbox-not_selected-stroke_disable: var(--border-disable);
	--rounding-small: 12px;
	--height-control-middle: 56px;
	--indent-12: 12px;
	--padding-sm: 12px;
	--padding-m: 16px;
	--word-color: var(--text_and_icon-warning-default);
	--word-height: var(--height-control-big);
	/* Colors_primitives*/
	--brand-1: #eff3f7;
	--brand-2: #dbe3eb;
	--brand-3: #c5d8ec;
	--brand-4: #aebcd3;
	--brand-5: #0f8ce9;
	--brand-6: #0079ff;
	--brand-7: #2863a4;
	--brand-8: #2b417b;
	--brand-9: #1a2542;
	--brand-10: #01182d;
	--black-1: #0c0c0d0d;
	--black-2: #0c0c0d1a;
	--black-3: #0c0c0d33;
	--black-4: #0c0c0d66;
	--black-5: #0c0c0db2;
	--black-6: #0c0c0dcc;
	--black-7: #0c0c0dd9;
	--black-8: #0c0c0de5;
	--black-9: #0c0c0df2;
	--black-10: #0c0c0d;
	--white-1: #ffffff0d;
	--green-1: #e9fae5;
	--green-2: #dcfbdc;
	--green-3: #c9ffd3;
	--green-4: #a4e094;
	--green-5: #6eb55b;
	--green-6: #55a340;
	--green-7: #2f701e;
	--green-8: #025416;
	--green-9: #024016;
	--green-10: #05250c;
	--blue-1: #eff3f7;
	--blue-2: #dbe3eb;
	--blue-3: #c5d8ec;
	--blue-4: #aebcd3;
	--blue-5: #0f8ce9;
	--blue-6: #0079ff;
	--blue-7: #2863a4;
	--blue-8: #2b417b;
	--blue-9: #1a2542;
	--blue-10: #01182d;
	--gray-1: #f7f7f7;
	--gray-2: #ededed;
	--gray-3: #dedede;
	--gray-4: #babbbe;
	--gray-5: #9ea1a6;
	--gray-6: #7c8289;
	--gray-7: #646464;
	--gray-8: #4c4c4c;
	--gray-9: #2e2e2e;
	--gray-10: #222222;
	--white-2: #ffffff1a;
	--white-3: #ffffff33;
	--white-4: #ffffff66;
	--white-5: #ffffffb2;
	--white-6: #ffffffcc;
	--white-7: #ffffffd9;
	--white-8: #ffffffe5;
	--white-9: #fffffff2;
	--white-10: #ffffff;
	--red-1: #fff0f0;
	--red-2: #fcd5d2;
	--red-3: #fc9999;
	--red-4: #fa4845;
	--red-5: #ff0000;
	--red-6: #d91c1c;
	--red-7: #a01414;
	--red-8: #690807;
	--red-9: #4d0b0a;
	--red-10: #300603;
	--slate-1: #f3f3f1;
	--slate-2: #e6e8ea;
	--slate-3: #d9dce0;
	--slate-4: #c7ccd4;
	--slate-5: #a6b1bf;
	--slate-6: #8692a1;
	--slate-7: #777f98;
	--slate-8: #575e76;
	--slate-9: #4b505f;
	--slate-10: #1a1e24;
	--yellow-1: #fff9e3;
	--yellow-2: #fff1c2;
	--yellow-3: #ffe8a3;
	--yellow-4: #fbc62c;
	--yellow-5: #fab429;
	--yellow-6: #bf6a02;
	--yellow-7: #975102;
	--yellow-8: #682d03;
	--yellow-9: #522504;
	--yellow-10: #401b01;
	/* Colors*/
	--background-default-default: var(--slate-1);
	--background-bright-default: var(--brand-6);
	--background-bright-hover: var(--brand-7);
	--background-bright-secondary: var(--brand-3);
	--background-bright-secondary_hover: var(--brand-4);
	--background-bright-tertiary: var(--brand-2);
	--background-bright-tertiary_hover: var(--brand-3);
	--background-bright-forth: var(--brand-1);
	--background-bright-forth_hover: var(--brand-2);
	--background-default-hover: var(--white-10);
	--background-default-secondary: var(--white-10);
	--background-default-secondary_hover: var(--brand-1);
	--background-dark-default: var(--brand-10);
	--background-dark-hover: var(--brand-8);
	--background-dark-secondary: var(--brand-9);
	--background-dark-secondary_hover: var(--brand-8);
	--background-positive-default: var(--green-6);
	--background-positive-hover: var(--green-7);
	--background-positive-secondary: var(--green-4);
	--background-positive-secondary_hover: var(--green-5);
	--background-positive-tertiary: var(--green-1);
	--background-positive-tertiary_hover: var(--green-2);
	--background-warning-default: var(--yellow-4);
	--background-warning-hover: var(--yellow-5);
	--background-warning-secondary: var(--yellow-2);
	--background-warning-secondary_hover: var(--yellow-3);
	--background-danger-default: var(--red-6);
	--background-danger-hover: var(--red-7);
	--background-danger-secondary: var(--red-3);
	--background-danger-secondary_hover: var(--red-4);
	--background-danger-tertiary: var(--red-1);
	--background-danger-tertiary_hover: var(--red-2);
	--background-disabled-default: var(--gray-3);
	--background-utilities-overlay: #00000080;
	--text_and_icon-default-default: var(--gray-10);
	--text_and_icon-default-brand: var(--brand-10);
	--text_and_icon-default-secondary: var(--slate-8);
	--text_and_icon-default-tertiary: var(--slate-6);
	--text_and_icon-default-forth: var(--slate-5);
	--text_and_icon-bright-default: var(--brand-6);
	--text_and_icon-bright-secondary: var(--brand-7);
	--text_and_icon-bright-tertiary: var(--brand-5);
	--text_and_icon-bright-on_bright: var(--white-10);
	--text_and_icon-bright-on_bright_secondary: var(--brand-3);
	--text_and_icon-inverse-default: var(--white-10);
	--text_and_icon-link-default: var(--blue-6);
	--text_and_icon-link-hover: var(--blue-7);
	--text_and_icon-link-active: var(--blue-6);
	--text_and_icon-inverse-secondary: var(--brand-4);
	--text_and_icon-inverse-tertiary: var(--slate-7);
	--text_and_icon-inverse-placeholder: var(--slate-8);
	--text_and_icon-positive-default: var(--green-5);
	--text_and_icon-positive-secondary: var(--green-7);
	--text_and_icon-positive-tertiary: var(--green-6);
	--text_and_icon-positive-forth: var(--green-4);
	--text_and_icon-warning-default: var(--yellow-5);
	--text_and_icon-danger-default: var(--red-4);
	--text_and_icon-danger-secondary: var(--red-7);
	--text_and_icon-danger-tertiary: var(--red-6);
	--text_and_icon-danger-forth: var(--red-3);
	--text_and_icon-danger-on_danger: var(--white-10);
	--text_and_icon-disabled-default: var(--gray-3);
	--text_and_icon-disabled-on_disabled: var(--gray-1);
	--border-default: var(--brand-4);
	--border-secondary: var(--brand-2);
	--border-tertiary: var(--slate-6);
	--border-bright: var(--brand-6);
	--border-bright_secondary: var(--brand-7);
	--border-dark: var(--brand-9);
	--border-danger: var(--red-5);
	--border-danger_secondary: var(--red-4);
	--border-danger_hover: var(--red-6);
	--border-positive: var(--green-5);
	--border-warning: var(--yellow-5);
	--border-disable: var(--gray-3);
	--background-warning-tertiary: var(--yellow-1);
	--background-warning-tertiary_hover: var(--yellow-2);
	/* Size*/
	--rounding-big: 24px;
	--rounding-default: 20px;
	--rounding-small: 12px;
	--rounding-tiny: 8px;
	--icon-xs: 12px;
	--height-control-small: 40px;
	--height-control-middle: 56px;
	--height-control-big: 80px;
	--icon-s: 16px;
	--icon-m: 24px;
	--icon-l: 32px;
	--icon-xl: 44px;
	--height-divider: 16px;
	--indent-1: 1px;
	--indent-2: 2px;
	--indent-4: 4px;
	--indent-6: 6px;
	--indent-8: 8px;
	--indent-12: 12px;
	--indent-16: 16px;
	--indent-20: 20px;
	--indent-24: 24px;
	--indent-32: 32px;
	--indent-40: 40px;
	--indent-48: 48px;
	--indent-56: 56px;
	--indent-64: 64px;
	--indent-72: 72px;
	--padding-page: 64px;
	--padding-xxxs: 2px;
	--padding-xxs: 4px;
	--padding-xs: 6px;
	--padding-s: 8px;
	--padding-sm: 12px;
	--padding-m: 16px;
	--padding-l: 24px;
	--padding-xl: 32px;
	--padding-xxl: 40px;
	--padding-xxxl: 48px;
	--padding-xxxxl: 56px;
	--font-1: 64px;
	--font-2: 32px;
	--font-3: 24px;
	--font-4: 20px;
	--font-5: 16px;
	--font-6: 14px;
	--font-7: 12px;
	--stroke-border: 1px;
	--stroke-underline: 2px;
	/* Typography*/
	--hero-family: "[object Object]";
	--title-family: "[object Object]";
	--title-weight: var(--weight_regular);
	--title-size1: var(--font-1);
	--title-size2: var(--font-2);
	--hero-weight: var(--weight_regular);
	--hero-size: var(--font-1);
	--headline-family: "[object Object]";
	--headline-weight_medium: var(--weight_regular);
	--headline-weight_semibold: var(--weight_medium);
	--headline-size1: var(--font-3);
	--headline-size2: var(--font-4);
	--headline-size3: var(--font-5);
	--body-family: "[object Object]";
	--body-weight_regular: var(--weight_light);
	--body-weight_medium: var(--weight_regular);
	--body-size1: var(--font-4);
	--body-size2: var(--font-5);
	--description-family: "[object Object]";
	--description-weight: var(--weight_light);
	--description-size1: var(--font-6);
	--description-size2: var(--font-7);
	/* Typography_primitives*/
	--family_title: "Space Grotesk";
	--family_text: "Inter";
	--weight_light: 300px;
	--weight_regular: 400px;
	--weight_medium: 500px;
	--weight_semibold: 600px;
	--weight_bold: 700px;
	--weight_extra_bold: 800px;
	--weight_black: 900px;
	/* Effect style variables*/
	--tooltip-0: -2px 2px 20px 0px #0000001a;
	--dropdown-0: -2px 4px 20px 0px #00000026;
	/* Text style variables*/
	--hero_title-font-size: 64px;
	--hero_title-font-family: "Space Grotesk";
	--hero_title-font-weight: normal;
	--hero_title-line-height: 86.00000143051147%;
	--h1-font-size: 64px;
	--h1-font-family: "Space Grotesk";
	--h1-font-weight: normal;
	--h1-line-height: 86.00000143051147%;
	--h2-font-size: 32px;
	--h2-font-family: "Space Grotesk";
	--h2-font-weight: normal;
	--h2-line-height: 95.99999785423279%;
	--h3-font-size: 24px;
	--h3-font-family: "Inter";
	--h3-font-weight: normal;
	--h3-line-height: 95.99999785423279%;
	--h3-120-font-size: 24px;
	--h3-120-font-family: "Inter";
	--h3-120-font-weight: normal;
	--h3-120-line-height: 120.00000476837158%;
	--h4-font-size: 20px;
	--h4-font-family: "Inter";
	--h4-font-weight: normal;
	--h4-line-height: 100%;
	--h5-font-size: 16px;
	--h5-font-family: "Inter";
	--h5-font-weight: normal;
	--h5-line-height: 100%;
	--h5_semibold-font-size: 16px;
	--h5_semibold-font-family: "Inter";
	--h5_semibold-font-weight: normal;
	--h5_semibold-line-height: 100%;
	--body1-font-size: 20px;
	--body1-font-family: "Inter";
	--body1-font-weight: normal;
	--body1-line-height: 120.00000476837158%;
	--body1_medium-font-size: 20px;
	--body1_medium-font-family: "Inter";
	--body1_medium-font-weight: normal;
	--body1_medium-line-height: 120.00000476837158%;
	--body2-font-size: 16px;
	--body2-font-family: "Inter";
	--body2-font-weight: normal;
	--body2-line-height: 120.00000476837158%;
	--body2_medium-font-size: 16px;
	--body2_medium-font-family: "Inter";
	--body2_medium-font-weight: normal;
	--body2_medium-line-height: 120.00000476837158%;
	--description-font-size: 14px;
	--description-font-family: "Inter";
	--description-font-weight: normal;
	--description-line-height: 120.00000476837158%;
	--description_hug-font-size: 14px;
	--description_hug-font-family: "Inter";
	--description_hug-font-weight: normal;
	--description_hug-line-height: 100%;
	--description2-font-size: 12px;
	--description2-font-family: "Inter";
	--description2-font-weight: normal;
	--description2-line-height: 120.00000476837158%;
	--description_hug2-font-size: 12px;
	--description_hug2-font-family: "Inter";
	--description_hug2-font-weight: normal;
	--description_hug2-line-height: 100%;
	--labels1-font-size: 20px;
	--labels1-font-family: "Inter";
	--labels1-font-weight: normal;
	--labels1-line-height: 100%;
	--labels1_underline-font-size: 20px;
	--labels1_underline-font-family: "Inter";
	--labels1_underline-font-weight: normal;
	--labels1_underline-line-height: 100%;
	--labels2-font-size: 16px;
	--labels2-font-family: "Inter";
	--labels2-font-weight: normal;
	--labels2-line-height: 100%;
	--labels2_underline-font-size: 16px;
	--labels2_underline-font-family: "Inter";
	--labels2_underline-font-weight: normal;
	--labels2_underline-line-height: 100%;
}